
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#carouselProduto
{

  display: flex;
  justify-content: center;
  align-items: center;

  img{
    margin: 0 auto;
    width: 350px;
    height: 200px;
}

}

h2{
    font-weight: bolder;
}

.containerDescricao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(197, 95, 95, 0.745);
}

.containerDetalhamento{

    margin-bottom: 20px;


    .col-12{

        p{
            font-size: 1rem;
            margin: 0;
        }
    }
}


.containerInfoPreco{
    background-color: rgba(197, 95, 95, 0.745);
}

