<section class="boxBlocoDemonstrativo">
        <p id="categoria">Categoria</p>
        <div id="blocoDemonstrativo">
                <div>
                    <img src="assets/imgs/tenis.jpg" alt="tenisFoto">
                    <p>Produto:</p>
                    <p>Preço:</p>
                </div>
                <div>
                    <img src="assets/imgs/tenis.jpg" alt="tenisFoto">
                    <p>Produto:</p>
                    <p>Preço:</p>
                </div>
                <div>
                    <img src="assets/imgs/tenis.jpg" alt="tenisFoto">
                    <p>Produto:</p>
                    <p>Preço:</p>
                </div>
         </div>
</section>