<header-app></header-app>
<h1 id="titlePrincipal">Favoritos</h1>

<section class="container">
  <div class="row">

    <div class="col-12 col-md-4 baseCard">
      <app-card></app-card>
      <app-dropdown></app-dropdown>
      <button class="btn btn-secondary col-12">Adicionar ao Carrinho</button>
    </div>

    <div class="col-12 col-md-4 baseCard">
      <app-card></app-card>
      <app-dropdown></app-dropdown>
      <button class="btn btn-secondary col-12">Adicionar ao Carrinho</button>
    </div>

    <div class="col-12 col-md-4 baseCard">
      <app-card></app-card>
      <app-dropdown></app-dropdown>
      <button class="btn btn-secondary col-12">Adicionar ao Carrinho</button>
    </div>
    
  </div>
</section>
