<h1>Cadastro de Produto</h1>
<form *ngIf="produtoForm" [formGroup]="produtoForm" (ngSubmit)="enviar()" #formDit="ngForm" id="formCadastroProduto">
  
  <input type="hidden" formControlName="id">
  
  <div class="inputBox">
    <label>Nome Produto</label> 
    <input type="text" formControlName="descricaoProduto" value={{produtoDados?.descricaoProduto}}>
  </div>

  <div class="inputBox">
    <label>Cor</label>
    <input type="text" formControlName="cor" value={{produtoDados?.cor}}>
  </div>

  <div class="inputBox">
    <label>Valor Pago Produto</label>
    <input type="number" formControlName="precoPago" value="{{produtoDados?.precoPago}}">
  </div>

  <div class="inputBox">
    <label>Valor Venda Produto</label>
    <input type="number" formControlName="precoVenda" value="{{produtoDados?.precoVenda}}">
  </div>

  <div class="inputBox">
    <label>Tamanho</label>
    <input type="text" formControlName="tamanho" value={{produtoDados?.tamanho}}>
  </div>

  <div class="inputBox">
    <label>Quantidade Estoque</label>
    <input type="number" formControlName="quantidadeEstoque" value={{produtoDados?.quantidadeEstoque}}>
  </div>

  <div class="inputBox">
    <label>Imagem</label>
    <input type="file" formControlName="imagem" id="imageInput" value="{{produtoDados?.imagem}}">
  </div>

  <div class="inputBox">
    <label>Categoria Produto</label>
    <select formControlName="categoriaProduto" value={{produtoDados?.categoriaProduto}}>
      <option value="Tênis">Tênis</option>
      <option value="Roupa">Roupa</option>
      <option value="Acessórios">Acessórios</option>
    </select>
  </div>

  <div class="inputBox">
    <label>Condição Produto</label>
    <select formControlName="condicaoProduto" value="{{produtoDados?.condicaoProduto}}">
      <option value="Lançamento">Lançamento</option>
      <option value="Padrão">Padrão</option>
      <option value="Novo">Novo</option>
    </select>
  </div>

  <div class="buttonBox">
    <button type="submit" [disabled]="!produtoForm.valid">Cadastrar</button>
    <button>Voltar</button>
  </div>
</form>
